.stripe-card-input {
  padding-top: 7px !important;
}

.ant-input--focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  outline: 0;
  border-color: #40a9ff;
  border-right-width: 1px !important;
}